<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" style="background-color: #fffbef;" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="index.html"><img src="../assets/img/slider/LOGO-ESTALAGEM NOVA-02_menor.png" alt="Office"></a>
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/gallery.html">Gallery</a>
      </li>
      <li>
        <a href="/discover-more.html">Discover more</a>
      </li>
      <li>
        <a href="/find-us.html"><span>Find us</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->