<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body style="background-color: #fffbef;">
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/eira7.jpg" alt="Image of first carousel">
                        </div>
                        <div class="item">
                            <img src="../assets/img/slider/eira1.jpg" alt="Image of second carousel">
                        </div>
                        <div class="item">
                            <img src="../assets/img/slider/eira2.jpg" alt="Image of third carousel">
                        </div>
                        <div class="item">
                            <img src="../assets/img/slider/eira3.jpg" alt="Image of third carousel">
                        </div>
                        <div class="item">
                            <img src="../assets/img/slider/sala4.jpg" alt="Image of third carousel">
                        </div>
                        <div class="item">
                            <img src="../assets/img/slider/sala3.jpg" alt="Image of third carousel">
                        </div>
                        <div class="item">
                            <img src="../assets/img/slider/Quarto.jpg" alt="Image of third carousel">
                        </div>
                        <div class="item">
                            <img src="../assets/img/slider/Cozinha2.jpg" alt="Image of third carousel">
                        </div>
                        <div class="item">
                            <img src="../assets/img/slider/Cozinha1.jpg" alt="Image of third carousel">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->
  </body>

  <!--   {% include footer.html %} -->
</html>
