<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body style="background-color: #fffbef;">
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/eira7.jpg" height="400" alt="Image of first carousel">
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/eira1.jpg" height="400" alt="Image of second carousel">
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/eira2.jpg" height="400" alt="Image of third carousel">
                        </div>
                        <!-- End Slide 3 -->

                        <!-- Begin Slide 4 -->
                        <div class="item">
                            <img src="../assets/img/slider/eira3.jpg" height="400" alt="Image of third carousel">
                        </div>
                        <!-- End Slide 4 -->

                        <!-- Begin Slide 5 -->
                        <div class="item">
                            <img src="../assets/img/slider/sala4.jpg" height="400" alt="Image of third carousel">
                        </div>
                        <!-- End Slide 5 -->

                        <!-- Begin Slide 6 -->
                        <div class="item">
                            <img src="../assets/img/slider/sala6.jpg" height="400" alt="Image of third carousel">
                        </div>
                        <!-- End Slide 6 -->

                        <!-- Begin Slide 7 -->
                        <div class="item">
                            <img src="../assets/img/slider/sala1.jpg" height="400" alt="Image of third carousel">
                        </div>
                        <!-- End Slide 7 -->
                        <!-- Begin Slide 8 -->
                        <div class="item">
                            <img src="../assets/img/slider/sala3.jpg" height="400" alt="Image of third carousel">
                        </div>
                        <!-- End Slide 8 -->
                        <!-- Begin Slide 9 -->
                        <div class="item">
                            <img src="../assets/img/slider/sala4.jpg" height="400" alt="Image of third carousel">
                        </div>
                        <!-- End Slide 9 -->
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->
  </body>

  {% include footer.html %}
</html>
